<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bejeweled - Kralik</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
          integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css"
          integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
            integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

    <!--<link rel="stylesheet" type="text/css"-->
          <!--href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css" />-->
    <!--<script src="https://cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>-->

    <link rel="stylesheet" href="/css/bejeweled-kralik.css" />
    <script src="/scripts/bejeweled-kralik.js"></script>

    <script type="text/javascript">
        //<![CDATA[
        // $(document).ready(function () {
        //     $.ajax({
        //         url: "/rest/score/bejeweled-kralik",
        //     }).done(function (json) {
        //         for (var i = 0; i < json.length; i++) {
        //             var score = json[i];
        //             $("#scoreList").append($("<li>" + score.username + " " + score.points + " " + new Date(score.playedOn).toString() + "</li>"));
        //         }
        //     });
        // });

        // $(document).ready(function () {
        //     $('#example').DataTable({
        //         columns: [
        //             {data: "username"},
        //             {data: "points"},
        //             {data: "playedOn"}
        //         ],
        //         ajax: {url: "/rest/score/bejeweled-kralik", dataSrc: ''}
        //     });
        // });
        //]]>
    </script>

</head>
<body>
<nav th:replace="fragments::header"/>

<main class="container">
    <p th:utext='${webUI.renderAsHtml()}' />

    <div class="info">
        <div class="upperPart">
            <div class="timer" th:text="${timeRemaining}"></div>
            <div><a href="?command=hint" title="Hint" id="hint"><i class="fas fa-question-circle fa-3x"></i></a></div>
            <div><a href="?command=new" title="New game"><i class="fas fa-redo fa-3x"></i></a></div>
        </div>
        <hr/>

        <div id="message" th:switch="${state.name()}">
            <span th:case="'TIME_OUT'">Time out</span>
            <span th:case="'NO_POSSIBLE_MOVES'">No possible moves</span>
        </div>
        <hr/>
        <div>
            <div class="score">Score: <span id="score" th:text="${currentScore}"></span></div>
        </div>
        <div id="shapeCount" th:switch="${shapeCount}">
            <img src="images/bejeweled/kralik/Square.png" />
            <img src="images/bejeweled/kralik/Triangle.png" />
            <img src="images/bejeweled/kralik/Star.png" />
            <span th:case="3">
                <div id="next">Next <img src="images/bejeweled/kralik/Circle.png" /></div>
            </span>
            <span th:case="4">
                <img src="images/bejeweled/kralik/Circle.png" />
                <div id="next">Next <img src="images/bejeweled/kralik/Hexagon.png" /></div>
            </span>
            <span th:case="5">
                <img src="images/bejeweled/kralik/Circle.png" />
                <img src="images/bejeweled/kralik/Hexagon.png" />
                <div id="next">Next <img src="images/bejeweled/kralik/Diamond.png" /></div>
            </span>
            <span th:case="6">
                <img src="images/bejeweled/kralik/Circle.png" />
                <img src="images/bejeweled/kralik/Hexagon.png" />
                <img src="images/bejeweled/kralik/Diamond.png" />
            </span>
        </div>
        <hr/>

        <div>Average rating: <span th:text="${averageRating}"></span></div>

        <form class="form-group" method="POST" action="/rate">
            <input th:if="${!@userController.logged}" class="form-control" id="rate" type="number" name="rating" max="5" min="1" />
            <input th:if="${@userController.logged}" th:value="${rating}" class="form-control" id="rate" type="number" name="rating" max="5" min="1" />
            <button th:if="${!@userController.logged}" type="submit" name="rate" class="btn btn-secondary" th:disabled="disabled" value="Submit">Login to rate</button>
            <button th:if="${@userController.logged}" type="submit" name="rate" class="btn btn-primary" value="Submit">Rate</button>
        </form>
    </div>
</main>

<div class="container">
    <div class="comments jumbotron">
		<form class="form-group" method="POST" action="/comment">
			<textarea placeholder="Comment" class="form-control" name="comment" type="text" rows="3" th:value="${comment?.comment}" th:required="required"/>
			<button th:if="${!@userController.logged}" class="btn btn-secondary float-right" th:disabled="disabled" type="submit" value="Submit">Login to comment</button>
			<button th:if="${@userController.logged}" class="btn btn-primary float-right" type="submit" value="Submit">Comment</button>
		</form>
		<div class="comment" th:each="comment: ${comments}">
			<div class="row">
				<div class="author" th:text="${comment.player}"></div>
				<div class="date" th:text="${comment.commentedOn}"></div>
			</div>
			<div class="comment row" th:text="${comment.comment}"></div>
			<hr/>
		</div>
    </div>

    <div class="jumbotron scores">
        <h1>Hall of fame </h1>

        <table class="scoreTable">
            <thead>
            <tr>
                <th>Player</th>
                <th>Points</th>
                <th>Played on</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="score: ${scores}">
                <td th:text="${score.username}"></td>
                <td th:text="${score.points}"></td>
                <td th:text="${score.playedOn}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<!--<h3>Client side generation - simple AJAX call</h3>-->
<!--<ol id="scoreList"/>-->

<!--<h3>Client side generation - jQuery DataTable</h3>-->
<!--<table id="example"/>-->
</body>
</html>
