<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bejeweled - Kralik</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
          integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
            integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/css/login.css" />
    <script type="application/javascript" src="/scripts/login.js" />
</head>

<body>
<nav th:replace="fragments::header"/>
<div class="container">
    <div class="jumbotron">
        <h2>Log in</h2>
        <form class="login form-group" action="/login" method="post">
            Username: <input placeholder="Username" class="form-control" name="username" type="text" th:value="${user?.username}" th:required="required"/> <br/>
            Password: <input placeholder="Password" class="form-control" name="passwd" type="password" th:required="required"/> <br/>
            <button type="submit" class="btn btn-primary float-right" value="OK">OK</button>
        </form>
    </div>

    <div class="jumbotron">
        <h2>Register</h2>
        <form class="register form-group" action="/register" method="post">
            Username: <input placeholder="Username" class="form-control" name="username" type="text" th:value="${user?.username}" th:required="required"/> <br/>
            Password: <input placeholder="Password" class="form-control" name="passwd" type="password" id="password" th:required="required"/> <br/>
            <!--Confirm password: <input placeholder="Confirm password" class="form-control" name="verifiedPasswd" id="confirmPassword" type="password" th:required="required"/> <br/>-->
            <button type="submit" id="registerSubmit" class="btn btn-primary float-right" value="OK">OK</button>
        </form>
    </div>
</div>

</body>
</html>
